# ports
SHORTENER_PORT=3000
REDIRECTOR_PORT=3001
ANALYTICS_PORT=3002
ANALYTICS_GRPC_PORT=3003

# postgres
POSTGRES_USER=kuerzen_user
POSTGRES_PASSWORD=kuerzen_pwd
POSTGRES_DB=kuerzen_db

# influxdb
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=kuerzen_user
DOCKER_INFLUXDB_INIT_PASSWORD=kuerzen_pwd
DOCKER_INFLUXDB_INIT_ORG=kuerzen
DOCKER_INFLUXDB_INIT_BUCKET=kuerzen_analytics
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=MyInitialAdminTokenKuerzen0

# MISC
APP_ENV=development
KUERZEN_DB_URL=postgres://kuerzen_user:kuerzen_pwd@db:5432/kuerzen_db?sslmode=disable
ANALYTICS_DB_URL=http://analytics-db:8086
ANALYTICS_SERVICE_URL=analytics:3003
KUERZEN_HOST=kuerzen.net
